#container {
    width: 800px;
    height: 600px;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: url("./img/bg.jpg");
    background-size: 100% 600px;
}

#for-clock {
    width: 100%;
    height: 30px;
    background: #0169ca;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

#logo {
    width: 100%;
    height: 50px;
    background: #0084ff;
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    z-index: 10;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#posts {
    width: 100%;
    height: 420px;
    overflow: auto;
}

#footer {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 110px;
    background: #0169ca;
}

button {
    margin-top: 20px;
    display: inline-block;
    width: 100px;
    height: 64px;
    vertical-align: top;
    margin-left: 20px;
    font-weight:bold;
    background: #0169ca;
    border: 5px solid #0084ff;
    color: #ffffff;
    box-shadow: 0 0 5px black;
    font-size: 25px;
}
button:hover {
    cursor: pointer;
    color: aqua;
}
#author {
    width: 170px;
    height: 20px;
    vertical-align: top;
    margin-left: 50px;
    margin-top: 20px;
    padding: 5px;
}
textarea {
    margin: 20px 0 0 20px;
}
.post {
    padding: 20px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.authors {
    font-weight: bold;
}
